<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

 <h4>Employee Details</h4>
 <form action="#" th:action="@{/addAuth}" method="post" th:object="${author}">

<label>Author name :</label>
<input type="text" th:field="*{name}" /><br/>
<span style="color:red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  ></span><br>

<label>Author email:</label>
<input type="text" th:field="*{email}" /><br/>
<span style="color:red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  ></span><br>

<label>Author contact :</label>
<input type="number" th:field="*{contactNumber}" /><br/>
<span style="color:red;" th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"  ></span><br>



<label>Boook Id :</label>
<input type="number"  th:field="*{bookId}" /><br/>

<input type="submit" value="Submit">

 </form>
</body>
</html>